* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #ffffff;
  --main-color: #a61c3c;
  --text-color: #000000;

  --h1-font: 4.6rem;
  --h2-font: 3.5rem;
  --p-font: 1rem;
}

.dark-theme {
  --bg-color: #000000;
  --main-color: #ff9bb2;
  --text-color: #ffffff;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 38px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  transition: all 0.7s;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--main-color);
  font-size: 28px;
  font-weight: 600;
}

.navbar {
  display: flex;
}

.navbar a {
  margin: 0 25px;
  padding: 4px;
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 400;
  border-bottom: 2px solid transparent;
  transition: all 0.7s;
}

.navbar a:hover {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
}

#menu-icon {
  font-size: 34px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

section {
  padding: 40px 10% 30px;
}

.home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.home-img {
  height: 460px;
  width: 460px;
  object-fit: contain;
}

.home-img img {
  width: 100%;
  height: auto;
}

.home-text {
  padding-top: 60px;
}

.home-text h5 {
  font-size: 20px;
  font-weight: 500;
}

.home-text h1 {
  margin: 15px 0;
  font-size: var(--h1-font);
  color: var(--main-color);
  line-height: 1.1;
  font-weight: 800;
}

.social {
  margin-bottom: 30px;
}

.social a:first-child {
  font-size: var(--p-font);
  margin-right: 15px;
  color: var(--text-color);
}

.social i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background: #242121;
  color: var(--main-color);
  border-radius: 50%;
  margin-right: 15px;
  transition: all 0.7s;
}

.social i:hover {
  box-shadow: 0 0 30px var(--main-color);
}

.button {
  display: inline-block;
  padding: 10px 22px;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 14px;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all 0.7s;
}

button {
  display: inline-block;
  padding: 1px 2px;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 14px;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all 0.7s;
}

button:hover {
  box-shadow: 0 0 20px var(--main-color);
}

button a.btn2 {
  background: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  margin-left: 20px;
}

button i {
  margin-right: 7px;
}

header.sticky {
  background: var(--main-color);
  padding: 20px 10%;
  .navbar li a {
    color: white;
  }
  .logo {
    color: white;
  }
}

.h-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 20px;
}

.h-text h2 {
  font-size: var(--h2-font);
  color: var(--main-color);
  font-weight: 700;
}

.h-btn a {
  display: inline-block;
  font-size: 18px;
  color: var(--text-color);
  transition: all 0.7s;
}

.h-btn i {
  margin-left: 6px;
}

.h-btn a:hover {
  transform: translateY(-5px);
  color: var(--main-color);
}

.center p {
  font-size: var(--p-font);
  padding: 0 120px;
  line-height: 32px;
}

.box h3 {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 5px;
}

.box a {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
  font-size: 14px;
}

.end-content {
  margin-top: 10%;
  background-color: var(--main-color);
  padding: 20px 19%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.copyright p {
  font-size: 14px;
  font-weight: 400;
  color: var(--bg-color);
}

.scroll-top i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  color: var(--bg-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 27px;
}

/* Modal Window */
.window {
  padding: 10px 60px;
  background: var(--bg-color);
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}
.popup {
  width: 400px;
  background: var(--bg-color);
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: var(--text-color);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.popup img {
  width: 100px;
  margin-top: -50%;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: var(--main-color);
  color: var(--bg-color);
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

/* Modal Window End */

/* Slider  */
.slider {
  position: relative;
  /* width: 90%; */
  width: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(119, 119, 119, 0.1);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  border-radius: 10px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Media Queries */
@media (max-width: 768px) {
  .slider {
    width: 80%;
  }
}

@media (max-width: 360px) {
  .slider {
    width: 100%;
  }
}

/* Slider End  */

/* Tabs */
.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 50px auto;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(255, 182, 193, 0.5);
  border-radius: 10px;
}
.mytabs input[type="radio"] {
  display: none;
}
.mytabs label {
  padding: 25px;
  background: var(--bg-color);
  font-weight: bold;
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  background: var(--bg-color);
  order: 1;
  display: none;
}
.mytabs .tab h2 {
  font-size: 3em;
}

.mytabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label {
  background: var(--main-color);
}
/* Tabs End */

/* Application form  */

.newsletter-all {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 8% 20%;
}

.newsletter-coloumn1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.newsletter-coloumn1 h1 {
  font-size: 48px;
}

.newsletter-coloumn1 p {
  font-size: 16px;
  width: 60%;
}

#contactForm {
  display: flex;
  flex-direction: column;
}

.newsletter-coloumn2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsletter-coloumn2 p {
  font-size: 14px;
  color: #333;
}

.newsletter-coloumn2 form {
  display: flex;
  gap: 10px;
}

.newsletter-coloumn2 form input {
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border: 0.5px solid gray;
  padding: 0 5%;
}

#submit {
  width: 80px;
  border-radius: 10px;
}
.alert {
  width: 100%;
  background: rgb(0, 255, 106);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: none;
}
/* Application Form End  */

/* Media Queries navbar */
@media (max-width: 600px) {
  #menu-icon {
    display: block;
  }
  :root {
    --h1-font: 3.8rem;
    --h2-font: 2.5rem;
    --p-font: 14px;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    padding: 20px 10px;
    gap: 0.6rem;
    text-align: left;
    transition: all 0.7s;
  }
  .navbar a {
    font-size: 20px;
    font-weight: 500;
  }
  .navbar.open {
    right: 0;
  }
  form .send-btn {
    width: 50%;
  }
}

/* Media Queries for Mobile: 360x640 */
@media (max-width: 360px) {
  .home {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home-text {
    padding-top: 20px;
  }

  .home-text h1 {
    font-size: 2.5rem;
  }

  .slider {
    width: 150px;
    height: auto;
  }

  .newsletter-all {
    flex-direction: column;
    padding: 20px;
  }

  .newsletter-coloumn1,
  .newsletter-coloumn2 {
    width: 100%;
  }

  .newsletter-coloumn2 form input {
    width: 100%;
    height: 40px;
  }

  #submit {
    width: 100%;
    height: 40px;
  }
}

/* Media Queries for Tablet: 768x1024 */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home-text h1 {
    font-size: 3.5rem;
  }

  .slider {
    width: 200px;
    height: auto;
  }

  .newsletter-all {
    flex-direction: column;
    padding: 20px;
  }

  .newsletter-coloumn1,
  .newsletter-coloumn2 {
    width: 100%;
  }

  .newsletter-coloumn2 form input {
    width: 100%;
    height: 40px;
  }

  #submit {
    width: 100%;
    height: 40px;
  }
}

/* Media Queries for Desktop: 1920x1080 */
@media (min-width: 769px) {
  .home {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .home-text h1 {
    font-size: var(--h1-font);
  }

  .slider {
    width: 460px;
    height: auto;
  }

  .newsletter-all {
    flex-direction: row;
    padding: 8% 20%;
  }

  .newsletter-coloumn1 {
    width: 60%;
  }

  .newsletter-coloumn2 {
    width: 40%;
  }

  .newsletter-coloumn2 form input {
    width: 350px;
    height: 50px;
  }

  #submit {
    width: 80px;
    height: 50px;
  }
}
